@use 'variables' as v;

h1, h2, h3 {
    font-family: v.$fuente_principal;
    font-weight: 900;
    color: v.$blanco;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    
}
p {
    color: v.$blanco;
    font-size: 2rem;
}

.nombre-pagina{

    text-align: center;
    margin: 5rem 0;
    font-weight: v.$bold;

}

.descripcion-pagina{

    text-align: center;
} 
